  <div class="welcome-card">
    <h1>Welcome to MovieManiac!</h1>
    <div class="button-group">

          <button 
            mat-raised-button
            matTooltip="Here you can make an account"
            aria-label="Button that opens a dialog window for Signup"
            (click)="openUserRegistrationDialog()"
            style="margin: 5px 10px; background-color: #0713b9; color: white"
            class="signup-button"
          >Sign Up</button>

          <button 
            mat-raised-button
            matTooltip="Here you can login"
            aria-label="Button that opens a dialog window for Login"
            (click)="openUserLoginDialog()"
            style="margin: 5px 10px; background-color: #19d2b3; color: #000"
            class="login-button"
          >Login</button>

    </div>

  </div>
 


