<div class="main-page">
  
  <app-navbar>User is logged out.</app-navbar>

  <div class="movie-card">
    <mat-card *ngFor="let movie of movies" >
      <mat-card-header>

          <mat-card-title>{{movie.title}}</mat-card-title>
          <mat-card-subtitle>Directed by: {{movie.director.name}}</mat-card-subtitle>

      </mat-card-header>
      
          
      <img src={{movie.imageUrl}} alt={{movie.title}} width="150"/>

      
      <mat-card-actions>
          <button
            mat-button
            selected class="genre-button"
            (click)='openGenreDialog(movie.genre.name, movie.genre.description)'
            >{{ movie.genre.name | uppercase }}
          </button>
          <button
            mat-button
            class="director-button"
            (click)='openDirectorDialog(movie.director.name, movie.director.bio, movie.director.birthyear)'
              >{{movie.director.name}}
          </button>
          <button
            mat-button
            class="details-button"
            (click)="openMovieDialog(movie.title, movie.description, movie.year, movie.genre, movie.director, movie.actors)"
              >Details
          </button>
          
          <button mat-button (click)="toggleFavs(movie)">
            <mat-icon *ngIf="isFav(movie._id)">favorite</mat-icon>
            <mat-icon *ngIf="!isFav(movie._id)">favorite_border</mat-icon>
          </button>

      </mat-card-actions>
    </mat-card>

  </div>

</div>