<div class="profile-list">

<app-navbar>User is logged out.</app-navbar>


<h2>Your Profile</h2>
<img matListAvatar src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar" width="100" style="border-radius: 50%;">

<mat-list>
  <mat-list-item>
    <h3 matLine> Your Username </h3>
    <p matLine>{{ userData.username }} </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine> Your Password </h3>
    <p matLine>{{ userData.password }} </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine> Your Email Address </h3>
    <p matLine>{{ userData.email }} </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine> Your Birthday </h3>
    <p matLine>{{ userData.birthdate | date :  'mediumDate' }} </p>
  </mat-list-item>
  
    
    <mat-list-item>

      <h3 matLine> Your Favorite Movies </h3>

      <div matLine *ngFor="let favorite of userData.favorites">

        <p matLine>{{ favorite.title }} </p>
        <button mat-raised-button color="warn" (click)="removeFavorite(favorite._id, favorite.title)">
            remove
        </button>

      </div>
          
    </mat-list-item>
      
  
  
</mat-list>




<app-user-update></app-user-update>

<app-user-delete></app-user-delete>

</div>
