<div class="profile-list">
<h2>Your Profile</h2>
<img matListAvatar src="https://www.w3schools.com/howto/img_avatar.png" alt="avatar" width="100" style="border-radius: 50%;">

<mat-list>
  <mat-list-item>
    <h3 matLine> Your Username </h3>
    <p matLine>{{ userData.username }} </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine> Your Password </h3>
    <p matLine>{{ userData.password }} </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine> Your Email Address </h3>
    <p matLine>{{ userData.email }} </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine> Your Birthday </h3>
    <p matLine>{{ userData.birthdate | date :  'mediumDate' }} </p>
  </mat-list-item>
  <mat-list-item>
    <h3 matLine> Your Favorite Movies </h3>
    <p matLine>{{ userData.favorites.title }} </p>
  </mat-list-item>
</mat-list>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let favorite of userData.favorites"
      [colspan]="favorite.cols"
      [rowspan]="favorite.rows">
    {{favorite.title}}
  </mat-grid-tile>
</mat-grid-list>


<app-user-update></app-user-update>


</div>
